extends layout

block content
  h1 Hello World
  a(style="display:block;" href="/blog1")
    | Blog One
  a(style="display:block;" href="/blog2")
    | Blog Two 
  a(style="display:block;" href="/blog3")
    | Blog Three
  a(style="display:block;" href="/blog4")
    | Blog Four
    